<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gateway.portal.model.cpi.CpiMethodParam">

	<resultMap type="com.gateway.portal.model.cpi.CpiMethodParam"
		id="CpiMethodParamResultMap">
		<id property="id" column="id" />
		<result property="methodId" column="method_id" />
		<result property="paramName" column="param_name" />
		<result property="paramType" column="param_type" />
		<result property="paramDesc" column="param_desc" />
		<result property="index" column="index" />
		<result property="required" column="required" />
		<result property="domain" column="domain" />
		<result property="length" column="length" />
	</resultMap>

	<sql id="CpiMethodParam_common_condition">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="methodId != null">
				AND a.method_id = #{methodId}
			</if>
		</trim>
	</sql>

	<select id="query" resultMap="CpiMethodParamResultMap">
		SELECT * FROM cpi_method_param a
		<include refid="CpiMethodParam_common_condition" />
		ORDER BY `index`
	</select>

	<select id="count" resultType="int">
		SELECT count(1) FROM cpi_method_param a
		<include refid="CpiMethodParam_common_condition" />
	</select>

	<select id="query_id" resultMap="CpiMethodParamResultMap">
		SELECT * FROM
		cpi_method_param a
		WHERE a.id =
		#{id}
	</select>

	<insert id="add" parameterType="com.gateway.portal.model.cpi.CpiMethodParam" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cpi_method_param
		(method_id,param_name,param_type,param_desc,`index`,required,`domain`,`length`) VALUES
		(#{methodId},#{paramName},#{paramType},#{paramDesc},#{index},#{required},#{domain},#{length})
	</insert>

	<delete id="delete" parameterType="com.gateway.portal.model.cpi.CpiMethodParam">
		DELETE FROM cpi_method_param
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="methodId != null">
				AND method_id = #{methodId}
			</if>
		</trim>
	</delete>

	<update id="update" parameterType="com.gateway.portal.model.cpi.CpiMethodParam">
		UPDATE cpi_method_param
		<trim prefix="SET" suffixOverrides=",">
			<if test="methodId != null">
				method_id = #{methodId},
			</if>
			<if test="paramName != null">
				param_name = #{paramName},
			</if>
			<if test="paramType != null">
				param_type = #{paramType},
			</if>
			<if test="paramDesc != null">
				param_desc = #{paramDesc},
			</if>
			<if test="index != null">
				`index` = #{index},
			</if>
			<if test="required != null">
				required = #{required},
			</if>
			<if test="domain != null">
				`domain` = #{domain},
			</if>
			<if test="length != null">
				`length` = #{length},
			</if>
		</trim>
		WHERE id = #{id}
	</update>

</mapper>